header {
  padding: var(--rtc-padding-s);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

header > nav > ul {
  display: flex;
  gap: var(--rtc-gap-m);
  font-weight: 700;
}

header img {
  height: 70px;
  width: 70px;
}

header a {
  color: var(--rtc-black);
}

header a:hover {
  text-decoration: underline;
}

input {
  background-color: var(--rtc-gray);
  width: 500px;
  height: 40px;
  padding: var(--rtc-padding-xs);
  border-color: transparent;
  border-radius: var(--rtc-br);
}

/*Responsive*/

@media screen and (max-width: 1300px) {
  header {
    flex-direction: column;
    gap: var(--rtc-gap-m);
  }
}

@media screen and (max-width: 1024px) {
  input {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  header > nav > ul {
    flex-direction: column;
  }
}
